/*
*********************************
*** General
*********************************
*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: $lightBgColor;
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $textColor;
}

body {
  margin: 0 $contentSpacing;
}

main {
  width: 100%;
}

header {
  background-color: $heavyDarkColor;
  color: $lightColor;
  margin-left: -$contentSpacing;
  margin-right: -$contentSpacing;
  margin-bottom: $contentSpacing;
  padding: $contentSpacing;
  text-align: center;
}

.container-fluid {
  min-width: 400px;
  max-width: 1400px;
  margin: 0 auto;
}