// General Content
$fontSize: 15px;
$fontFamily: 'Helvetica Neue';
$contentSpacingLarge: 30px;
$contentSpacing: 15px;
$contentSpacingMed: 10px;
$contentSpacingSmall: 5px;
$radius: 10px;
$touchHighlight: 0.9;
$touchOpacity: 0.5;

// General Color
$blackColor: #000;
$whiteColor: #FFF;
$medGreyColor: #EAEAEA;
$lightGreyColor: #F6F6F6;
$lightGreyColor2:#d6d6d6;
$heavyDarkColor: #333;
$medDarkColor: #666;
$lightGreenColor: #B6D9DD;

// Background Color
$lightBgColor: $lightGreyColor;
$lightBgColor2: $lightGreyColor2;

// Other Color
$textColor: $blackColor;
$lightColor: $whiteColor;
$borderColor: $medGreyColor;