#app ul
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  li
  {
    list-style: none;

    & + li
    {
      margin-top: .667em;
    }

    div.trigger
    {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      text-align: left;
      font-weight: bold;

      background-color: #ddd;
      color: #222;

      border-style: outset;
      border-color: #bbb;
      border-width: 2px;
      border-radius: 3px;

      &.clickable
      {
          cursor: pointer;

          &:active { border-style: inset; }
      }

      img
      {
        width: 2em;
        border-radius: 2px;
        margin: .296em;
      }

      span.arrow
      {
        margin-left: .5em;
      }
    }
  }
}
