.node {
    background-color: #ebeaed;
    border: 1px solid #e4e3e5;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    border-radius: 3px;
    height: 30px;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: -1px;
  }

.thumbnail {
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

.node-title {
  width: 60px;
  line-height: 28px;
}

.arrow-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.child-node-holder {
  margin-left: 30px;
  display: block;
}

.child-node-holder-hidden {
  display: none;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 4px solid #000000;
  line-height: 28px;
  margin-top: 10px;
  margin-right: 2px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #000000;
  margin-top: 12px;
  margin-right: 2px;
}

.hide-arrow {
  display: none;
}

.show-arrow {
  display: block;
}