@import '../../assets/scss/variables.scss';

.nav-root-container {
  background-color: $medGreyColor;
  border-radius: 10px;
  margin-bottom: $contentSpacing;
  overflow: hidden;
}

.div-button {
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s linear;

  &:hover {
    background-color: $lightBgColor2;
  }

  .caret {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $blackColor;
    right: $contentSpacingLarge;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
  }
}

.nav-container {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $lightGreyColor2;

  img {
    margin-right: $contentSpacing;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
}

.not-expand {
  +.nav-sub-container {
    display: none;
  }

  .caret {
    transform: rotate(90deg);
  }
}

.nav-sub-container>.nav-container:last-child,
.nav-root-container>.nav-container:last-child,
.not-expand .nav-container {
  border: 0;
}