@import '../../assets/scss/variables.scss';

.div-button {
  cursor: pointer;
  position: relative;

  .caret {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $blackColor;
    right: $contentSpacingLarge;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
  }
}

.nav-root-container {
  background-color: $medGreyColor;
  border-radius: 10px;
  margin-bottom: $contentSpacing;
}

.nav-container {
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding: 10px;

  img {
    margin-right: $contentSpacing;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
}

.nav-sub-container {
  // transition: opacity 1.5s linear;
  // opacity: 1;
}

.not-expand {
  +.nav-sub-container {
    // opacity: 0;
    display: none;
  }

  .caret {
    transform: rotate(90deg);
  }
}